
<div id="<%= dom_id client %>">
  <p>
    <strong>Nome de Fantasia:</strong>
    <%= client.fantasia %>
  </p>

  <p>
    <strong>Razao Social:</strong>
    <%= client.razaosocial %>
  </p>

  <p>
    <strong>CNPJ:</strong>
    <%= client.cnpj %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= client.cpf %>
  </p>
  <p>
    <strong>Inscrição Estadual:</strong>
    <%= client.inscEstadual %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= client.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= client.endereco %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= client.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= client.estado %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= client.whatsapp %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= client.instagram %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= client.site %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= client.ativo %>
  </p>

</div>
