<div class="form-body">
  <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3 class="form-title"> Recursos </h3>

<%= form_with(model: recurso) do |form| %>
  <% if recurso.errors.any? %>
    <div style="color: red">
      <h2><%= recurso.errors.count %> <%= recurso.errors.count==1 ? "erro deve" : "erros devem" %> ser corrigidos:</h2>

      <ul>
        <% recurso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mt-1 mb-0">
    <%= form.label :grupo_recurso_id, "Grupo do Recurso", style: "display: block", class: "form-label"  %>
    <%= form.select :grupo_recurso_id, options_from_collection_for_select(GrupoRecurso.order(:nome), "id", "nome", recurso.grupo_recurso_id) %>
  </div>

  <div class="mt-1 mb-0">
    <%= form.label :nome, style: "display: block", class: "form-label" %>
    <%= form.text_field :nome, class: "form-control", placeholder: "Nome do recurso" %>
  </div>

  <div class="mt-1 mb-0">
    <%= form.label :medida, style: "display: block", class: "form-label"  %>
    <%= form.select :medida, options_for_select(enum_for_select(Recurso.new, :medidas), recurso.medida), {}, class: "custom-select" %>
  </div>

  <div class="mt-1 mb-0">
    <%= form.label :nome_curto, style: "display: block", class: "form-label"  %>
    <%= form.text_field :nome_curto, class: "form-control", placeholder: "Nome curto do recurso"  %>
  </div>

  <div class="mt-1 mb-0">
    <%= form.label :ativo, style: "display: block", class: "form-label"  %>
    <%= form.check_box :ativo %>
  </div>

  <div class="row" style="border-top: 4px;">
    <%= form.submit class: "btn btn-primary col-md-4 offset-md-4" %>
  </div>
<% end %>
</div>
      </div>
    </div>
  </div>
</div>