
<div id="<%= dom_id supplier %>">
  <p>
    <strong>Nome de Fantasia:</strong>
    <%= supplier.fantasia %>
  </p>

  <p>
    <strong>Razao Social:</strong>
    <%= supplier.razaosocial %>
  </p>

  <p>
    <strong>CNPJ:</strong>
    <%= supplier.cnpj %>
  </p>
  <p>
    <strong>CPF:</strong>
    <%= supplier.cpf %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= supplier.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= supplier.endereco %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= supplier.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= supplier.estado %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= supplier.whatsapp %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= supplier.site %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= supplier.ativo %>
  </p>

</div>
